body {
    background-color: #ffffe5;
    color: hsl(330, 68%, 44%);
}
.img {
    border: 20px double #FF9AA2;
    width: 600px;
    height: 600px;
    margin: 150px 0px 50px 300px;  
}
#Anice {
    border: 7px solid #FF9AA2;
    border-top-style: none;
    border-left-style: solid;
    border-right: hidden;
    border-bottom-style: solid; 
    width: 600px;
    background-color: #FFB7B2;
    margin: 0px 0px 100px 300px;
    padding: 20px;
    font-size: 16pt;
}