html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;

    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
    font-size: 10pt;

}

.item {
    display: flex;
    align-content: stretch;
    flex-basis: 100%;

}

.item-h {
    width: 100%;
    height: 50px;
    background-color: rgb(253, 211, 211);
    padding-top: 20px;
}

.item-s {
    height: 400px;
    width: 150px;
    background-color: rgb(202, 84, 84);
    padding-top: 20px;
}

.content {
    flex: 1 0 auto;
}

.main {
    height: 300px;
    width: calc(100% - 200px);
    background-color: white;
    color: gray;
    padding-top: 20px;
}

.footer {
    flex-shrink: 0;
}

@media screen and (max-width: 600px) {
    body {
        margin: -20px;
        padding-top: 20px;
    }
    .item-h {
        height: 10vh;
    }

    .item {
        flex-direction: column;
        justify-content: stretch;
    }
    .main {
        order: -1;
        width: 100%;
        height: 40vh;
    }

    .item-s {
        width: 100%;
        height: 10vh;
    }
}


