
.block {
    border: solid 1px black;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}
h1 {
    font-size: 1.2em;
    margin-bottom: 0em;
    background-image: url(https://i.imgur.com/cHFidPz.png);
    background-repeat: no-repeat;
    background-position: right 0.5em top 0em;
    background-size: contain;
    padding: .1em;
    margin: .5em .5em 0em .5em;
}
.block-1 {
    background-color: #ffc;
    background-clip: padding-box;
    border: double .5em;
    border-color: rgba(0,102,255,.1);
    border-radius: 10px;
    height: 155px;
    overflow: auto; 
    padding: 0em 1em;
}
p {
    text-align: justify;
}