body {
    background: #333745;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
    display: inline-block;
}

.card {
    width: 220px;
    height: 370px;
    border-radius: 1.5rem;
    padding: 30px;
    box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.6);
    margin: 30px 30px;
    position: relative;
    display: inline-block;
    vertical-align: top;
} 

.card .type {
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 0;
}

.card div[class^="price"] {
    font-size: 7.5rem;
}

.card .price1:before {
    content: "$20";
}

.card .price2:before {
    content: "$50";
}

.card .price3:before {
    content: "100";
}

.card div[class^="price"]:before {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 3%;
    left: 5%;
    text-shadow: none;
    font-size: 115pt;
}

.substrate {
    font-size: 165px;
    font-stretch: condensed;
    position: absolute;
    top: -140px;
    left: 5px;
    opacity: 0.15;
    text-shadow: none;
    padding: 0;
}

.card div[class^="price"] .dollar {
    font-size: 1.8rem;
}

.card .plan {
    font-size: 1.3rem;
    position: relative;
    margin-top: 0px;
}

.card .plan::before, .card .plan::after {
    content: '';
    width: 35px;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 40%;
}

.card .plan::before {
    left: 15%;
}

.card .plan::after {
    right: 15%;
    }

.card .details {
    list-style: none;
    text-transform: capitalize;
    padding: 0;
    margin-top: 0px;
}

.card .details span {
    text-transform: uppercase;
}

.card .details li {
    margin: 15px 0px;
}

.card:nth-child(1) {
    background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
}

.button {
    width: 120px;
    height: 35px;
    border-radius: 20px 0px 20px 0px;
    color: black;
    background-color: white;
    text-shadow: none;
    padding-top: 20px;
    position: absolute;
    right: 0;
    bottom: -16px;
}

.card:nth-child(2) {
    background: linear-gradient(to left, #f1446f, #f1753c, #ee652f);
    width: 260px;
    height: 410px;
}

.card:nth-child(2) .price {
    font-size: 8.5em;
}

.card:nth-child(3) {
    background: linear-gradient(to left, #30d1a1, #33d671, #93db40);
}