body {
    background-color: #eef6f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
.header h1 {
    margin-bottom: 0;
}

.pseudo-link {
    display: inline-block;
    width: 150px;
    color: blue;
    text-align: left;
    margin-top: -15px;
}

.content {
    background-color: white;
    padding: 2px 10px 30px;
    margin: 0 150px;
    position: relative;
}

h3 {
    padding-left: 20px;
    text-transform: capitalize;
}


.link {
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px;
    padding: 0.5px;  
    color: black;
}

.link:nth-child(1) {
    text-transform: capitalize;
}

a {
    text-decoration: none;
}
hr {
    height: 2px;
    background-color: black;
    margin-top: 15px
}

.section {
    position:  relative;
}   

.text {
    border: solid 2px darkgray;
    margin: 20px;
    padding: 10px;
    float: right;
}

.text>img {
    float: right;
    margin: 0 5px;
}

.text:nth-of-type(3) {
    float: left;
}

.text:nth-of-type(3)>img {
    float: left;
}

.button {
    background-color: #bbc6cf;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    box-shadow: 3px 3px 2px  rgba(56, 66, 70, 0.8);
    position: relative;
    text-align: center;
    padding: 5px 10px;
    margin: 10px  20px 20px 90%;
}

.hidden-article {
    position: relative;
}

.hidden-article div[id] {
    background-color: white;
    border: solid 1px black;
    padding: 5px 20px;
    margin: 10px 20px;
    width: 75%;
    visibility: hidden;
    position: absolute;
}

div[id] p {
    font-size: 10pt;
}

span[id] {
    border: solid 1px black;
    background-color: #d1c8f8;
    padding: 10px 20px;
    width: fit-content;
    margin: 5px 20px 10px;
    display: block;
}

.hidden-article div[id]:target {
    visibility: visible;
    position: relative;
    margin-top: -51px;
 }


