body {
    background-color: #858585;
}
table {
    width: 100%;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    text-transform: uppercase; 
    background-color: #333333;
    padding: 10px;
}
.mon {
    border-top-left-radius: 10px;
}
.sun {
    border-top-right-radius: 10px;
}
th, td {
    width: 12%;
}
td {
    padding: 10px;
    vertical-align: top;
}
.number {
    display: block;
    margin-bottom: 10px;
}
.calendar {
    height: 150px;
    background-color: #515151;
}

.two-days-event {
    width: calc(200% + 20px);
}
.three-days-event {
    width: calc(300% + 45px);
}
.four-days-event {
    width: calc(400% + 65px);
}
.event {
    text-align: center;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}
.pink {
    background-color: #d3a9f5;
}
.green {
    background-color: #7df179;
}
.blue {
    background-color: #85d6ff;
}
.red {
    background-color: #ff9999;
}
.text-center {
    border-radius: 10px;
    text-align: center;
}
.text-start {
    margin-left: -20px;
    text-align: left;
}
.text-right {
    margin-right: -60px;
    text-align: right;
}
